@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;800&display=swap');
.header-vagas {
    background-color: #FDC842;
}

.vagas-content {
    text-align: center;
    margin: 0 auto;
}

.image-exclamacao {}

.vagas-title {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 46px;
}

.form-pesquisa {
    display: inline;
}

.input-pesquisa {
    margin: 0 10px;
    padding: 15px 50px;
    border: 1px #1672BB solid;
}

.pesquisa-form-button {
    cursor: pointer;
    border: 0 solid;
    padding: 10px;
    background-color: #FDC842;
}

.jobs-container {
    margin-top: 50px;
}

.table-jobs {
    margin: 0 auto;
}

.table-jobs thead th {
    text-align: center;
    border: 3px blue solid;
    padding: 10px 90px;
}

.table-jobs tbody td {
    text-align: center;
    border: 1px blue solid;
    padding: 10px 90px;
}