@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
.header-container {
    height: 115px;
    background-color: #FFFFFF;
    padding-left: 45px;
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.text-logo {
    font-family: 'Dosis', sans-serif;
    color: #FD563A;
    margin-left: 15px;
}

.header-button {
    cursor: pointer;
    margin-left: 50%;
    padding: 4px 15px;
    background-color: #1672BB;
    color: #FFFFFF;
    font-family: Dosis;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 46px;
}